.ellipse-div2 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-lightcyan);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 34.3px;
  transform: rotate(26.34deg);
  transform-origin: 0 0;
}
